/* Navbar */
img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 3rem 1rem;
}
h1 {
  font-size: 2rem !important;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
}

/* Demo Form */
.demo-form {
  margin: 4rem 0rem;
}
p,
.form-label {
  font-weight: 500;
}
p {
  margin-bottom: 0.5rem !important;
}
.response {
  margin-top: 1.5rem;
}
.response-area {
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 10rem;
}
.btn-wrapper {
  text-align: center;
  margin: 2rem 0rem;
}
